# System files
.DS_Store

# Dependency directories
node_modules
/dist

# Local environment variable files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase credentials
tpl-platform-4079e-firebase-adminsdk-xi77l-2ff4dd728e.json
